.form {
    width: 42%;
    margin: auto;
    display: flex;
    margin-top: 70px;
    background-color: #ddb892;
    padding: 12px 5px 12px 5px;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.inputDiv {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonDiv {
    width: 15%;
}

.label {
    font-size: 21px;
}

.input {
    width: 30%;
    margin-left: 18px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 7px 5px 7px;
    font-family: 'Neucha';
    letter-spacing: 1px;
}

.button {
    font-size: 15px;
    padding: 5px 15px 5px 15px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 5px;
    font-family: 'Neucha';
    letter-spacing: 1px;
}

.button:hover {
    background-color: #f3d5b5;
    cursor: pointer;
}

.table {
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 70px;
    border-collapse: collapse;
}

.th {
    font-size: 19px;
    border: 1px solid black;
    padding: 10px 15px 10px 15px;
    text-align: center;
    background-color: #ddb892;
}


.td {
    font-size: 17px;
    border: 1px solid black;
    padding: 10px 15px 10px 15px;
    text-align: center;
    background-color: white;
}

.td:nth-of-type(5):hover {
    background-color: #f3d5b5;;
    cursor: pointer;
}

.td:nth-of-type(6):hover {
    background-color: #f3d5b5;;
    cursor: pointer;
}

.td:nth-child(7):hover {
    background-color: #f3d5b5;
    cursor: pointer;
}

.a {
    color: black;
    transition: 0.1s;
}

.a:hover {
    color: red;
}

.error {
    color: red;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    letter-spacing: 2px;
}