.table {
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    border-collapse: collapse;
}

.th {
    font-size: 20px;
    border: 3px solid black;
    padding: 10px 15px 10px 15px;
    text-align: center;
    background-color: #ddb892;
}


.td {
    font-size: 18px;
    border: 3px solid black;
    padding: 10px 15px 10px 15px;
    text-align: center;
    background-color: white;
}

.td:nth-child(6):hover {
    background-color: #ddb892;
}

.td:nth-child(7):hover {
    background-color: #ddb892;
}

.a {
    color: black;
}