.table {
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    border-collapse: collapse;
}

.th {
    font-size: 19px;
    border: 1px solid black;
    padding: 10px 15px 10px 15px;
    text-align: center;
    background-color: #ddb892;
}


.td {
    font-size: 17px;
    border: 1px solid black;
    padding: 10px 15px 10px 15px;
    text-align: center;
    background-color: white;
}

.td:nth-child(6):hover {
    background-color: #f3d5b5;
    cursor: pointer;
}

.td:nth-child(7):hover {
    background-color: #f3d5b5;
    cursor: pointer;
}

.td:nth-child(8):hover {
    background-color: #f3d5b5;
    cursor: pointer;
}

.a {
    color: black;
}